@media screen and (min-width: 2560px) {

    .headerAllChatBlock {
        height: 340px;
    }

    .headerAllChatBlock h3 {
        font-size: 36px;
    }

    .userImageBlock {
        height: 140px;
    }

    .userInfoImage {
        border-radius: 100px;
        width: 4.5vw;
    }

    .checkMarkOnlineImage {
        top: 58%;
        left: 90px;
    }

    .searchInput {
        margin-top: 2vh;
        background-size: 60px;
        padding-left: 65px;
        padding-top: 15px;
        border-radius: 100px;
    }

    .searchInput::placeholder {
        font-size: 30px;
    }

    .ownLeftPartBlock h2 {
        font-size: 46px;
    }

    .allChatsBlock {
        height: 63vh;
    }

    .descriptionChatBlock h3 {
        font-size: 42px;
    }

    .descriptionChatBlock > div > div > p {
        font-size: 32px;
    }

    .descriptionChatBlock > p {
        font-size: 28px;
    }

    .headerOneChatBlock {
        height: 200px;
    }

    .headerOneChatBlock > h2 {
        font-size: 50px;
    }

    .chatBlock {
        height: 68.5vh;
    }

    .messageBlock > .userImageBlock {
        margin-right: 2%;
    }

    .messageValue {
        font-size: 45px;
        padding: 20px 30px;
        border-radius: 100px;
    }

    .messageDate {
        font-size: 30px;
        margin: 8px 0;
    }


    .sendMessageBlock > input {
        border-radius: 50px 0 0 50px;
        font-size: 44px;
    }

    .sendMessageBlock > input::placeholder {
        font-size: 44px;
    }

    .sendMessageBlock > button {
        border-radius: 0 50px 50px 0;
    }

    .sendMessageBlock > button > img {
        width: 2vw;
        top: 27%;
        border-radius: 0 50px 50px 0;
    }
}

@media screen and (min-width: 1440px) and (max-width: 2559px) {

    .headerAllChatBlock {
        height: 170px;
    }

    .userImageBlock {
        height: 80px;
    }

    .userInfoImage {
        width: 4.5vw;
    }

    .checkMarkOnlineImage {
        top: 58%;
        left: 50px;
    }

    .searchInput {
        margin-top: 2vh;
        background-size: 30px;
        padding-left: 35px;
    }

    .searchInput::placeholder {
        font-size: 14px;
    }

    .ownLeftPartBlock h2 {
        font-size: 26px;
    }

    .allChatsBlock {
        height: 57.6vh;
    }

    .descriptionChatBlock h3 {
        font-size: 22px;
    }

    .descriptionChatBlock > div > div > p {
        font-size: 18px;
    }

    .descriptionChatBlock > p {
        font-size: 15px;
    }

    .headerOneChatBlock {
        height: 100px;
    }

    .headerOneChatBlock > h2 {
        font-size: 30px;
    }

    .chatBlock {
        height: 65vh;
    }

    .messageBlock > .userImageBlock {
        margin-right: 2%;
    }

    .messageValue {
        font-size: 22px;
        padding: 10px 15px;
    }

    .messageDate {
        font-size: 16px;
        margin: 8px 0;
    }


    .sendMessageBlock > input {
        font-size: 24px;
    }

    .sendMessageBlock > input::placeholder {
        font-size: 24px;
    }

    .sendMessageBlock > button > img {
        width: 2vw;
        top: 27%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {

    .headerAllChatBlock {
        height: 21vh;
    }

    .headerAllChatBlock h3 {
        font-size: 16px;
    }

    .checkMarkOnlineImage {
        top: 45%;
    }

    .searchInput {
        margin-top: 2vh;
    }

    .searchInput::placeholder {
        font-size: 11px;
    }

    .ownLeftPartBlock h2 {
        font-size: 20px;
    }

    .allChatsBlock {
        height: 60vh;
    }

    .descriptionChatBlock h3 {
        font-size: 14px;
    }

    .descriptionChatBlock > div > div > p {
        font-size: 12px;
    }

    .descriptionChatBlock > p {
        font-size: 10px;
    }

    .headerOneChatBlock {
        height: 70px;
    }

    .headerOneChatBlock > h2 {
        font-size: 20px;
    }

    .chatBlock {
        height: 69vh;
    }

    .messageBlock > .userImageBlock {
        margin-right: 2%;
    }

    .messageValue {
        font-size: 12px;
        padding: 10px 15px;
    }

    .messageDate {
        font-size: 11px;
        margin: 8px 0;
    }

    .sendMessageBlock > input::placeholder {
        font-size: 18px;
    }

    .sendMessageBlock > button > img {
        width: 1.5vw;
        top: 35%;
    }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {

    .headerAllChatBlock {
        height: 22vh;
    }

    .headerAllChatBlock h3 {
        font-size: 13px;
    }

    .checkMarkOnlineImage {
        top: 45%;
    }

    .searchInput {
        margin-top: 1.5vh;
    }

    .searchInput::placeholder {
        font-size: 8px;
    }

    .ownLeftPartBlock h2 {
        font-size: 14px;
    }

    .allChatsBlock {
        height: 61.5vh;
    }

    .descriptionChatBlock {
        padding: 3% 5%;
    }

    .descriptionChatBlock > div {
        height: 40px;
    }

    .descriptionChatBlock h3 {
        font-size: 8px;
    }

    .descriptionChatBlock > div > div > p {
        font-size: 8px;
    }

    .descriptionChatBlock > p {
        font-size: 7px;
    }

    .headerOneChatBlock {
        height: 55px;
    }

    .headerOneChatBlock > h2 {
        font-size: 18px;
    }

    .loginButton button {
        height: 42px;
    }

    .chatBlock {
        height: 68.5vh;
    }

    .messageBlock > .userImageBlock {
        padding-top: 2%;
        margin-right: 2%;
    }

    .messageValue {
        font-size: 10px;
        padding: 8px 12px;
    }

    .messageDate {
        font-size: 9px;
        margin: 6px 0;
    }

    .sendMessageBlock > input::placeholder {
        font-size: 14px;
    }

    .sendMessageBlock > button > img {
        width: 1.5vw;
        top: 35%;
    }
}


@media screen and (min-width: 425px) and (max-width: 767px) {

    .headerAllChatBlock {
        width: 40vw;
        height: 15vh;
    }

    .headerAllChatBlock h3 {
        font-size: 8px;
    }

    .userImageBlock {
        height: 30px;
    }

    .userInfoImage {
        width: 7vw;
    }

    .checkMarkOnlineImage {
        left: 23px;
        top: 78%;
    }

    .searchInput {
        margin-top: 1.5vh;
        height: 4vh;
        background-size: 10px;
        padding: 0 0 3px 10px;
    }

    .searchInput::placeholder {
        font-size: 7px;
    }

    .ownLeftPartBlock h2 {
        font-size: 14px;
    }

    .allChatsBlock {
        width: 40vw;
        height: 70.5vh;
    }

    .descriptionChatBlock .userImageBlock {
        width: 15px;
    }

    .descriptionChatBlock {
        width: 40vw;
        padding: 3% 5%;
    }

    .descriptionChatBlock > div {
        height: 40px;
    }

    .descriptionChatBlock h3 {
        font-size: 10px;
    }

    .descriptionChatBlock > div > div > p {
        width: 100px;
        font-size: 8px;
    }

    .descriptionChatBlock > p {
        font-size: 7px;
        left: 30%;
    }

    .headerOneChatBlock {
        height: 45px;
    }

    .headerOneChatBlock > h2 {
        font-size: 14px;
    }

    .loginButton button {
        height: 25px;
    }

    .loginButton > button > div svg {
        display: none;
    }

    .chatBlock {
        height: 76.5vh;
    }

    .messageBlock > .userImageBlock {
        padding-top: 4%;
        margin-right: 2%;
    }

    .messageValue {
        font-size: 10px;
        padding: 8px 12px;
    }

    .messageDate {
        font-size: 7px;
        margin: 6px 0;
    }

    .sendMessageBlock > input {
        width: 90%;
        height: 26px;
    }

    .sendMessageBlock > input::placeholder {
        font-size: 10px;
    }

    .sendMessageBlock > button {
        height: 26px;
    }


    .sendMessageBlock > button > img {
        width: 2.5vw;
        top: 25%;
        right: 30%;
    }
}

@media screen and (min-width: 375px) and (max-width: 424px) {

    .headerAllChatBlock {
        width: 40vw;
        height: 15vh;
    }

    .headerAllChatBlock h3 {
        font-size: 8px;
    }

    .userImageBlock {
        height: 30px;
    }

    .userInfoImage {
        width: 7vw;
    }

    .checkMarkOnlineImage {
        left: 22px;
        top: 68%;
    }

    .searchInput {
        margin-top: 1.5vh;
        height: 4vh;
        background-size: 10px;
        padding: 0 0 3px 10px;
    }

    .searchInput::placeholder {
        font-size: 7px;
    }

    .ownLeftPartBlock h2 {
        font-size: 14px;
    }

    .allChatsBlock {
        width: 40vw;
        height: 71vh;
    }

    .descriptionChatBlock .userImageBlock {
        width: 12px;
    }

    .descriptionChatBlock {
        width: 40vw;
        padding: 3% 5%;
    }

    .descriptionChatBlock > div {
        height: 40px;
    }

    .descriptionChatBlock h3 {
        font-size: 10px;
    }

    .descriptionChatBlock > div > div > p {
        width: 90px;
        font-size: 7px;
    }

    .descriptionChatBlock > p {
        font-size: 4px;
        margin-left: 5px;
    }

    .headerOneChatBlock {
        height: 45px;
    }

    .headerOneChatBlock > h2 {
        font-size: 15px;
    }

    .loginButton button {
        height: 25px;
    }

    .loginButton > button > div svg {
        display: none;
    }

    .chatBlock {
        height: 77vh;
    }

    .messageBlock > .userImageBlock {
        padding-top: 4%;
        margin-right: 2%;
    }

    .messageValue {
        font-size: 10px;
        padding: 8px 12px;
    }

    .messageDate {
        font-size: 6px;
        margin: 6px 0;
    }

    .sendMessageBlock > input {
        width: 90%;
        height: 26px;
    }

    .sendMessageBlock > input::placeholder {
        font-size: 10px;
    }

    .sendMessageBlock > button {
        height: 26px;
    }


    .sendMessageBlock > button > img {
        width: 2.5vw;
        top: 25%;
        right: 30%;
    }
}


@media screen and (min-width: 320px) and (max-width: 374px) {

    .headerAllChatBlock {
        width: 40vw;
        height: 15vh;
    }

    .headerAllChatBlock h3 {
        font-size: 8px;
    }

    .userImageBlock {
        height: 30px;
    }

    .userInfoImage {
        width: 7vw;
    }

    .checkMarkOnlineImage {
        left: 18px;
        top: 58%;
    }

    .searchInput {
        margin-top: 0;
        height: 4vh;
        background-size: 10px;
        padding: 0 0 3px 10px;
    }

    .searchInput::placeholder {
        font-size: 7px;
    }

    .ownLeftPartBlock h2 {
        font-size: 12px;
    }

    .allChatsBlock {
        width: 40vw;
        height: 72.3vh;
    }

    .descriptionChatBlock .userImageBlock {
        width: 8px;
    }

    .descriptionChatBlock {
        width: 40vw;
        padding: 3% 0 3% 5%;
    }

    .descriptionChatBlock > div {
        height: 30px;
    }

    .descriptionChatBlock h3 {
        font-size: 8px;
    }

    .descriptionChatBlock > div > div > p {
        width: 70px;
        font-size: 6px;
    }

    .descriptionChatBlock > p {
        font-size: 4px;
        margin-left: 5px;
    }

    .headerOneChatBlock {
        height: 35px;
    }

    .headerOneChatBlock > h2 {
        font-size: 12px;
    }

    .loginButton button {
        height: 25px;
    }

    .loginButton > button > div svg {
        display: none;
    }

    .chatBlock {
        height: 79.5vh;
    }

    .messageBlock > .userImageBlock {
        padding-top: 4%;
        margin-right: 2%;
    }

    .messageValue {
        font-size: 10px;
        padding: 8px 12px;
    }

    .messageDate {
        font-size: 6px;
        margin: 6px 0;
    }

    .sendMessageBlock > input {
        width: 90%;
        height: 26px;
    }

    .sendMessageBlock > input::placeholder {
        font-size: 10px;
    }

    .sendMessageBlock > button {
        height: 26px;
    }

    .sendMessageBlock > button > img {
        width: 2.5vw;
        top: 35%;
        right: 30%;
    }
}