.allChatsBlock {
    width: 30vw;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.allChatsBlock::-webkit-scrollbar {
    display: none;
}