.allChatsBlock{
    /*height: 59vh;*/
    width: 30vw;
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: wrap;
    /*overflow-block: scroll;*/
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.allChatsBlock::-webkit-scrollbar {
    display: none;
}