.sendMessageBlock {
    padding: 3%;
    border-left: 1px solid grey;
}

.sendMessageBlock > input {
    width: 60vw;
    height: 8vh;
    padding-left: 5%;

    border: 1px solid grey;
    border-right: none;
    border-radius: 20px 0 0 20px;
    outline-width: 0;
}


.sendMessageBlock > button {
    position: absolute;
    width: 5vw;
    height: 8vh;
    padding: 0;


    border: 1px solid grey;
    border-radius: 0 20px 20px 0;
    border-left: none;

    font: inherit;
    color: white;
    background-color: white;
    transition: 300ms;
}

.sendMessageBlock > button > img {
    position: absolute;
    width: 1.5vw;
    top: 30%;
    background-color: white;
    border-radius: 0 20px 20px 0;
}

.sendMessageBlock > button > img:active {
    transform: scale(1.2);
}