.descriptionChatBlock {
    display: flex;
    justify-content: space-between;

    padding: 5%;
    width: 30vw;
    border-bottom: 1px solid grey;
}

.descriptionChatBlock:active {
    background-color: #f5f3f3;
}

.descriptionChatBlock > div {
    display: flex;
}

.descriptionChatBlock h3 {
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    color: #484444;
}

.descriptionChatBlock > div > div > p {
    margin: 0;
    width: 15vw;
    color: grey;
    font-size: 16px;
}

.descriptionChatBlock > p {
    margin-top: 0;
    color: #484444;
    font-size: 14px;
}