.ownBlock {
    display: flex;
    background-color: #f5f3f3;
    margin-bottom: 5vh;
    border-bottom: 2px solid grey;
}

.ownLeftPartBlock {
    height: 94.5vh;
    background-color: white;
}

.ownLeftPartBlock h2 {
    color: cornflowerblue;
    font-weight: 400;
    margin: 5% 5% 10%;
}

.ownRightPartBlock {
    padding: 0;
    width: 70vw;
    height: 94.5vh;
    overflow-y: initial;
}