.messageBlock {
    display: flex;
}

.messageAndDateBlock{
    max-width: 60%;
}

.messageBlock .messageValue{
    padding: 2vh 1vw;
    border-radius: 25px;

}

.meMessage > div {
    order: 999;
    margin-left: auto;
}

.meMessage .messageValue {
    width: auto;
    background-color: #e1dede;
}

.meMessage .messageDate{
    text-align: right;
}

.interlocutorMessage .messageValue {
    width: auto;
    background-color: #40454b;
    color: white;
}

.messageDate{
    font-size: 10px;
    color: grey;
}