.messageBlock {
    display: flex;
}

.messageAndDateBlock {
    max-width: 60%;
}

.messageValue {
    margin-bottom: 0;
    padding: 2vh 1vw;
    border-radius: 25px;
}

.meMessage > div {
    order: 999;
    margin-left: auto;
}

.meMessage .messageValue {
    width: auto;
    background-color: #e1dede;
}

.meMessage .messageDate {
    text-align: right;
}

.interlocutorMessage .messageValue {
    width: auto;
    background-color: #40454b;
    color: white;
}

.messageDate {
    font-size: 12px;
    color: grey;
    padding-left: 14px;
}

.messageBlock > .userImageBlock {
    padding-top: 1.5%;
}